:root{
  --primary-bg-color: #212121;
  --secondary-bg-color: #3C4043;
  --terciary-bg-color: rgb(48, 48, 48);
  --primary-font-color: #fff;
  --secondary-font-color: #fad201;
  --third-font-color: #6573C3;
  --fourth-font-color: #8f90c7;
  --primary-border-color: #6573C3;
  --project-border-color: #22a4a7;
  --left-card-bg-color:#FA1C17;
  --center-card-bg-color: #F65B2B;
  --right-card-bg-color: #FABD27;
  --first-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;

  .background-main-color{
    background: rgb(71, 17, 137);
    background: linear-gradient(
      45deg,
      rgba(71, 17, 137, 0.9752275910364145) 0%,
      rgba(69, 16, 132, 1) 5%,
      rgba(69, 17, 135, 0.989233193277311) 9%,
      rgba(53, 7, 93, 0.989233193277311) 47%,
      rgba(19, 5, 78, 0.969625350140056) 90%
    );
    color: rgb(71, 17, 137);;
  }
}

html, body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  font-weight: normal;
  background-color: var(--primary-bg-color);
  width: 100vw;
  height: 100vh;
  position: relative;
  -webkit-text-size-adjust: 100%;
}

#app {
  padding: 0;
  background-color: var(--primary-bg-color);
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  font-weight: normal;
  box-sizing: border-box;
  flex-direction: column;
  overflow-y: scroll;
}
header{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  font-weight: normal;
}


